<!--<div class="product-form" *ngIf="productForm && appConstant">
  <form novalidate (ngSubmit)="onSubmit(productForm.valid,productForm.value)" [formGroup]="productForm">

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input type="email" matInput formControlName="{{ appConstant.forms.product.title }}" 
                 placeholder="Title">
         
          <mat-error *ngIf="productForm.get('title').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-12 md:col-6 lg:col-3">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.description }}" 
                 placeholder="Description">
         
          <mat-error *ngIf="productForm.get('description').hasError('required')">
            This Field is<strong>required</strong>
          </mat-error>
        </mat-form-field>



      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category</mat-label>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.category }}"
                 placeholder="Category">
        
          <mat-error *ngIf="productForm.get('category').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>


      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Price</mat-label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.price}}" 
                 placeholder="Price">
          
          <mat-error *ngIf="productForm.get('price').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Discount</mat-label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.discountPercentage}}" 
                 placeholder="Discount">
          
          <mat-error *ngIf="productForm.get('discount').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Rating</mat-label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.rating }}" 
                 placeholder="rating">
         
          <mat-error *ngIf="productForm.get('rating').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="productForm.get('rating').hasError('max')"
            >Max rating is <strong>10</strong></mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Brand</mat-label>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.brand }}" 
                 placeholder="Brand">
          
          <mat-error *ngIf="productForm.get('brand').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Stock</mat-label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.stock }}" 
                 placeholder="Stock">
          
          <mat-error *ngIf="productForm.get('stock').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>



  </div>



<div class="f-center">
    
<button color="warn" mat-button type="submit" [disabled]="productForm.invalid">Submit</button>
</div>




  </form>
</div>-->