<div *ngIf='product'>
<!-- <div class="product-center">
<div class="product-heading">
<h1>{{product.title}}</h1>
</div>
<div class="product-images">
  <img [src]="product.images[0]">
</div>
<div class="product-labels">
<div class="product-label">
  <label><b>Price:</b></label>
  <span>${{product.price}}</span>
</div>

<div class="product-label">
  <label><b>Discount:</b></label>
  <span>{{product.discountPercentage}}%</span>
</div>


<div class="product-label">
  <label><b>Category:</b></label>
  <span>{{product.category}}</span>
</div>

<div class="product-label">
  <label><b>Description:</b></label>
  <span>{{product.description}}</span>
</div>

<div class="product-label">
  <label><b>Stock:</b></label>
  <span>{{product.stock}}</span>
</div>

<div class="product-label">
  <label><b>Brand:</b></label>
  <span>{{product.brand}}</span>
</div>

<div class="product-label">
  <label><b>Rating:</b></label>
  <span>{{product.rating}}</span>
</div>
<button>Buy Now</button>
<button  class="cart">Add to Cart</button>
</div> 
</div> -->



<!--<div class="product-form" *ngIf="productForm && appConstant">
  <form  (ngSubmit)="onSubmit(productForm.valid,productForm.value)" [formGroup]="productForm" novalidate>

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">

        <mat-form-field class="example-full-width" appearance="fill">
        <label><strong>Title*</strong></label>
          <br>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.title }}" 
                 placeholder="Title">
        <br>
          <mat-error style='color:red' *ngIf="productForm.get('title').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
          
        </mat-form-field>

      </div>
      <div class="col-12 md:col-6 lg:col-3">

        <mat-form-field class="example-full-width" appearance="fill">
          <label><strong>Description*</strong></label>
         <br>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.description }}" 
                 placeholder="Description">
        <br>
        
          <mat-error style='color:red'*ngIf="productForm.get('description').hasError('required')">
            This Field is<strong>required</strong>
          </mat-error>
        </mat-form-field>



      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <label><strong>Category*</strong></label>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.category }}"
                 placeholder="Category">
          
          <mat-error style='color:red'*ngIf="productForm.get('category').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>


      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <label><strong>Price*</strong></label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.price}}" 
                 placeholder="Price">
          
          <mat-error style='color:red'*ngIf="productForm.get('price').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
         <label><strong>Discount*</strong></label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.discountPercentage}}" 
                 placeholder="Discount">
        
          <mat-error style='color:red'*ngIf="productForm.get('discount').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
         <label><strong>Rating*</strong></label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.rating }}" 
                 placeholder="rating">
         
          <mat-error style='color:red' *ngIf="productForm.get('rating').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
          <mat-error style='color:red'*ngIf="productForm.get('rating').hasError('max')"
            >Max rating is <strong>10</strong></mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <label><strong>Brand*</strong></label>
          <input type="text" matInput formControlName="{{ appConstant.forms.product.brand }}" 
                 placeholder="Brand">
         
          <mat-error style='color:red' *ngIf="productForm.get('brand').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <mat-form-field class="example-full-width" appearance="fill">
        <label>Stock*</label>
          <input type="number" matInput formControlName="{{ appConstant.forms.product.stock }}" 
                 placeholder="Stock">
          
          <mat-error style='color:red' *ngIf="productForm.get('stock').hasError('required')">
            This Field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

  </div>



<div class="f-center">
    
<button color="warn" mat-button type="submit" [disabled]="productForm.invalid" >Submit</button>
</div>




  </form>
</div>-->
<app-product-list [product]="product"></app-product-list>
<app-product-form  [product]="product"  (submit)="productUpdate($event)"></app-product-form>
<!-- <p *ngIf="showMessage" class="p-success-message">
  Product has been updated successfully in product page!!
</p> -->
<p> Product has been updated successfully in product page!!</p>
</div>