.price-form{
  background-color:lightblue;
  display: inline;
}
  .images{
  object-fit: fill;
  width: 90%;
  height:100px;
}
.content{
  background-color: rgb(123, 187, 230);
padding: 20px;
}
h1{
  font-size:30px;
}
h2{
  color:green;
  text-align: end;
  font-size:40px;
}
mat-grid-list {
  height: fit-content;
  background-color: rgb(196, 243, 255);
}
mat-grid-tile {
  font-family:Arial;
  overflow: visible;
  box-shadow: 2px 2px 20px 0 #080808 ;
}

mat-card {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.mat-card-header {
  background-color: rgb(0, 247, 255);
  padding: 15px;
}

button{
margin-left:90px;

}
button:hover {
  background-color: rgb(0, 225, 255);
  border:none;
  font-weight:bold;
}
