 <div  class="price-form">
    <label><strong>Price*</strong></label>
    <input type="number" [(ngModel)]="priceModel" placeholder="Price"/>
 </div>
<h1>Look at the Products...</h1>
<h2>Buy Good!!Feel Good!!</h2>

<br>

<div class="content">
<mat-grid-list cols="4" rowheight="4.7" >
  <mat-grid-tile *ngFor="let product of products" class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><b>{{product.title}}</b></mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-header>
      <img class= "images" mat-card-img src="{{product.images[0]}}" />
     
    <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  
      
      <mat-card-actions>
       <!--<button mat-button  >DETAILS</button>--> 
       <button
       (click)="getCatalogue($event, product)"
       mat-button>
       {{"Details"|uppercase}}
     </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div class="paginator">
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPagination($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
